version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    container_name: backend-app

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    container_name: frontend-app
    command: ["npx", "vite", "dev", "--host", "0.0.0.0"]
    volumes:
      - ./frontend:/app
      - /app/node_modules
